h1{
    font-size: 70px;
    font-family: 'The Nautigal', cursive;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}
.orange_highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
    height: 500px;

}
.top_banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
.half-width img{
    width: 100%;
}
.link_button{
    text-decoration: none;
    background-color: orange ;
    color: white;
    font-weight: bold;
    padding: 7px;
    border-radius: 7px;
}
section{
    height: 500px;
}
.middle_banner{
    margin-top: 160px;
    margin-bottom:140px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right bottom;

}
.single_experience{
    
    margin-top: 25px;
    border-left: 10px solid orange;
    border-radius: 10px;
    height: 400px;
    width: 38%;
    box-shadow: 10px 10px 40px grey;
  

}
.single_experience p{
    padding-right: 5px;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left ;
    height: 600px;

}
#goal{
    border-left: 10px solid #5e5add;
}
footer{
    text-align: center;
    font: normal;
    font-size: 12px;
}

